@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300;500&family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: hsl(240, 100%, 27.3%);
  --white: hsl(0, 0%, 100%);
  --lightblue: hsl(195, 48%, 82%);
  --blue: hsl(240, 96%, 46%);
  --gray: hsl(0, 0%, 50%);
}

a {
  text-decoration: none;
}

body {
  color: var(--white);
  font-family: "Quicksand", sans-serif;
}

/* Navbar Styling */
header {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav-container {
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
}

.about {
  border-bottom: 3px solid var(--blue);
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: var(--gray);
}

.sign-up {
  padding: 0.5rem 2rem;
  border: 2px solid var(--blue);
  background: var(--white);
  color: var(--blue);
  margin-right: 0.5rem;
  border-radius: 0.3rem;
}

.log-in {
  padding: 0.5rem 2rem;
  background: var(--white);
  border: 2px solid var(--blue);
  color: var(--white);
  border-radius: 0.3rem;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

/* Hero Styling */
.hero {
  background-image: url("./images/unsplash_nR2C9AVzfHY.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 4rem;
  width: 100vw;
  height: 70vh;
}

.hero-container {
  width: 100vw;
  height: 70vh;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
}

.hero-detail {
  text-align: center;
  justify-content: center;
  margin: 4rem auto;
  color: var(--white);
}

.hero-detail h3 {
  margin-top: 10rem;
  margin-bottom: 1rem;
  padding-right: 1.5rem;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.hero-container h3 a {
  color: var(--white);
}

.color {
  color: var(--gray);
}

.hero-detail p {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
}
/* End of Hero Section Styling */

/* Vision and Mission Section Styling */
.vision-section {
  background-color: #f5f5f5;
  padding: 40px;
}

.vision-container {
  max-width: 800px;
  margin: 0 auto;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mission,
.vision {
  flex: 0 0 calc(50% - 10px);
  background-color: white;
  color: #000;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.mission h1,
.vision h1 {
  margin-bottom: 1rem;
  text-align: center;
  justify-content: center;
  color: var(--blue);
}
/* End of Vision and Mission Section Styling */

/* Footer Section Styling */
.footer-area {
  background-color: var(--darkblue);
  padding: 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company,
.legal,
.resources,
.contact {
  flex-basis: 25%;
  margin-bottom: 30px;
}

.company h4,
.legal h4,
.resources h4,
.contact h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.company-details,
.legal-details,
.resources-details,
.contact-details {
  display: flex;
  flex-direction: column;
  color: var(--lightblue);
}

.company-details p,
.legal-details p,
.resources-details p {
  margin: 5px 0;
}

.contact-details .info {
  list-style-type: none;
  padding: 0;
}

.contact-details .info li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contact-details .info li span {
  margin-right: 10px;
}

.fa-solid {
  color: var(--white);
}

.contact-details .info li a {
  text-decoration: none;
  color: var(--lightblue);
}

.contact-details .info li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
    margin: auto;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-list.show {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .sign-up {
    margin: 1rem 0;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .details {
    flex-direction: column;
  }

  .mission,
  .vision {
    flex: 1 0 auto;
  }

  .carousel {
    height: 300px;
  }

  .footer-container {
    flex-direction: column;
  }

  .company,
  .legal,
  .resources,
  .contact {
    flex-basis: auto;
  }
}
