@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightblue: hsl(195, 48%, 82%);
  --blue: hsl(240, 70%, 45%);
  --gray: hsl(0, 4%, 86%);
}

body {
  background: var(--white);
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
}

.image {
  display: flex;
  flex-direction: column;
}

.link {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.logo {
  height: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-left: 2rem;
}

.link h2 {
  color: var(--blue);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.4rem;
}

.avatar {
  margin-top: 0.4rem;
  height: 70vh;
  width: 50vw;
}

/* Login Cobtainer Styling */
.login-con {
  margin: 3rem 0.3rem;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.5rem;
  color: var(--blue);
  text-align: center;
  margin-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  background: var(--gray);
  padding: 0.4rem 1rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.patient {
  background: transparent;
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: none;
  margin-right: 3rem;
  margin-left: 2rem;
}

.patient a {
  color: var(--white);
}

.hospital {
  background: var(--blue);
  color: var(--white);
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  border: none;
}

form {
  display: inline-block;
}

input[type="text"] {
  width: 100%;
  padding: 0.7rem 0.7rem;
  border: 1px solid var(--lightblue);
  outline: none;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

input[placeholder] {
  color: var(--gray);
}

.forgot-pwd {
  display: flex;
  margin-bottom: 1rem;
}

.forgot-pwd label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.pwd {
  display: flex;
  cursor: pointer;
  margin-left: 12rem;
  font-size: 0.9rem;
}

.log-in {
  padding: 0.7rem;
  cursor: pointer;
  width: 35%;
  margin-bottom: 1.5rem;
  color: var(--white);
  background: var(--blue);
  border-radius: 0.5rem;
  border: none;
}

span {
  color: var(--blue);
}

p {
  font-size: 0.9rem;
}

.arrow {
  display: none;
}

/* MEDIA QUERY */
/* @media screen and (max-width: 1024px) {
  .arrow {
    display: block;
  }
} */

@media screen and (max-width: 768px) {
  .logo {
    height: 3rem;
    margin-right: 2rem;
  }

  .link h2 {
    font-size: 1.2rem;
  }

  .avatar {
    width: 50vw;
  }

  h3 {
    margin-right: 10rem;
    font-size: 1.2rem;
  }

  .button {
    width: 80%;
    margin-left: 0;
    padding: 0.2rem 0.2rem;
  }

  .hospital {
    margin-right: 1.7rem;
    padding: 0.7rem 1.5rem;
  }

  .patient,
  .hospital {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="password"] {
    padding: 0.8rem 0.6rem;
    width: 85%;
  }

  .pwd,
  .forgot-pwd label,
  .option,
  span {
    font-size: 0.7rem;
  }

  .pwd {
    margin-left: 7rem;
  }

  .log-in {
    padding: 0.4rem;
    width: 25%;
    font-size: 0.8rem;
  }

  .arrow {
    display: block;
  }

  .top {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 5px;
    align-items: center;
  }

  .top li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .top li a {
    display: inline-block;
    padding: 5px;
    color: #000;
    text-decoration: none;
  }

  .top li a:hover {
    color: #fff;
    background-color: #000;
  }

  .top li p {
    margin: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .login-con {
    margin-left: 3rem;
  }

  .image {
    display: none;
  }

  h3 {
    margin-right: 4rem;
    font-size: 1.2rem;
  }

  .button {
    padding: 0.3rem 0.2rem;
    width: 85%;
    margin-left: 0;
  }

  .hospital {
    margin-right: 1.7rem;
    padding: 0.7rem 1.5rem;
  }

  .patient,
  .hospital {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="password"] {
    width: 85%;
    padding: 0.8rem 0.6rem;
  }

  .pwd,
  .forgot-pwd label,
  .option,
  span {
    font-size: 0.7rem;
  }

  .pwd {
    margin-left: 6rem;
  }
}
